[Unit]
Description=Server instance of wg-autoconf
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
Documentation=https://github.com/jetibest/wg-autoconf

[Service]
ExecStart=/srv/wg-autoconf/wg-autoconf %i server listen
ExecReload=/srv/wg-autoconf/wg-autoconf %i update
Environment=WG_ENDPOINT_RESOLUTION_RETRIES=infinity

[Install]
WantedBy=multi-user.target
